@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300&display=swap');


:root{
    --shadow:inset -5px -5px 12px #ffffff, inset 5px 5px 12px rgba(0, 0, 0, .16);   
};

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
    text-transform: capitalize;
    
}

body{
    background: linear-gradient(45deg,  rgb(228, 0, 0) 50% , rgb(255, 255, 0) 50%);
     min-height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
    
}

.container{
    /* position: relative; */
    height: 450px;
    width: 330px;
    background: #fff;
    border-radius: 5px;
    box-shadow:0 5px 10px rgb(0,0,0,0.5);
    padding: 10px;
    overflow-y: auto;
}
#input{
    height: 50px;
    width: 90%;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #666;
    color: #fff;
    padding: 0 10px;
    margin: 10px;

}

#input::placeholder{
    color: #bbb;
}

ul{
    margin: 0;
    padding: 0;
}

 ul li {
    list-style:none;
   text-align: left;
   background: #eee;
   text-decoration: none;
   color: #333;
   height: 20px;
   border-radius: 50px;
   margin: 10px ;
   padding:5px;

} 

li .fa-check,.fa-trash{
    position: absolute;
    cursor: pointer;
}

li .fa-check{
    right: 550px;
    color: rgb(226, 0, 0);
}

li .fa-trash{
    right: 530px;
    color: #ff0000;
}

ul .checked{
    background: lightgreen;
    text-decoration: line-through;
    transition: 0.2s;
}





 